.venv/
__pycache__/
*.pyc
*.egg-info/
dist/
build/
.pytest_cache/
.ruff_cache/
.gitignore
.env
data/
target/

dbt_packages/
dbt_internal_packages/
fs_internal_packages/
dbt_modules/
logs/
**/.DS_Store
.user.yml
venv/
.venv/
env/
**/*.duckdb
**/*.duckdb.wal